.anchor-link {
  display: block;
  position: absolute;
  top: 50%;
  right: negative(var(--spacing-md));
  padding: var(--spacing-md);
  transform: translateY(-50%);

  @include breakpoint-up(md) {
    right: auto;
    left: -45px;

    svg {
      visibility: hidden;
    }
  }

  svg {
    width: 15px;
    height: 15px;
    fill: var(--text-color-dark);

    @include breakpoint-up(md) {
      fill: var(--text-color-light);
    }
  }
}

article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-right: var(--spacing-lg);

    &:hover .anchor-link svg,
    .anchor-link:focus svg {
      visibility: visible;
    }
  }
}
