.backdrop {
  position: absolute;
  z-index: -1;
  top: -2%;
  left: -2%;
  width: 104%;
  height: 104%;
  overflow: hidden;

  .img {
    transition: var(--transition-fast);
    filter: blur(2px);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    will-change: filter;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -1%;
    left: -1%;
    width: 102%;
    height: 102%;
    background: var(--color-dark-80);
  }
}
