#breadcrumb {
  font-family: var(--font-mono);
  font-size: var(--text-sm);

  .breadcrumb__divider {
    opacity: 0.8;
  }

  .breadcrumb__link {
    opacity: 0.8;
    transition: opacity var(--transition-fast);

    &:hover {
      opacity: 1;
    }
  }
}
