button {
  &.reset {
    border: 0;
    background: transparent;
  }

  &.inline {
    display: inline-block;
  }
}

.btn {
  position: relative;
  padding: 10px 18px;
  transition: color 200ms ease-in-out;
  border: 0;
  background: transparent;
  color: var(--text-color-normal);
  font-size: var(--text-sm);
  font-weight: var(--font-bold);
  letter-spacing: 2px;
  text-transform: uppercase;

  @include border-left-right();

  &:hover {
    color: var(--text-color-richer);
  }

  &--small {
    padding: 6px 12px;
    font-size: var(--text-xs);

    @include border-left-right(10px);
  }

  &--inline {
    display: inline-block;
  }
}
