article {
  sup {
    display: inline-block;
    font-size: var(--text-sm);
    margin-left: 4px;

    a {
      font-family: var(--font-mono);
      text-decoration: none;
      display: block;
      margin: 0;
      line-height: 1;
    }
  }
}

.footnotes {
  a {
    text-decoration: none;
  }
}
