article {
  sup {
    display: inline-block;
    margin-left: 4px;
    font-size: var(--text-sm);

    a {
      display: block;
      margin: 0;
      font-family: var(--font-mono);
      line-height: 1;
      text-decoration: none;
    }
  }
}

.footnotes {
  @extend .container;
  @extend .container--small;
  padding: 0;

  a {
    text-decoration: none;
  }

  li {
    transition: background 240ms linear;
  }

  .reached {
    background: var(--color-10);
  }
}
