.icon {
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--icon-color-light);

  --icon-size: 0.7em;
  --icon-color-light: currentColor;
  --icon-color-dark: var(--icon-color-light);

  svg {
    width: 100%;
    height: 100%;
  }

  &[name="twitter"] {
    --icon-color-light: #07a3f2;
  }
  &[name="github"] {
    --icon-color-light: #3d7ac0;
  }
  &[name="instagram"] {
    --icon-color-light: #e43e6c;
  }
  &[name="dribbble"] {
    --icon-color-light: #ed5689;
  }
  &[name="unsplash"] {
    --icon-color-light: #ffffff;
    --icon-color-dark: #000000;
  }
  &[name="discord"] {
    --icon-color-light: #718cda;
  }
  &[name="league-of-legends"] {
    --icon-color-light: #947341;
  }
}

.icon-group {
  display: flex;
  align-items: center;
}

@include themeLight() {
  .icon {
    color: var(--icon-color-dark);
  }
}
