.icon {
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);

  --icon-size: 0.7em;
  --icon-color-light: currentColor;
  --icon-color-dark: var(--icon-color-light);

  &:hover {
    svg {
      fill: var(--icon-color-light);
    }
  }

  &.icon-text {
    width: auto;
    height: auto;
    line-height: 1;
    vertical-align: middle;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: var(--icon-color-light);
  }

  &[name="twitter"] {
    --icon-color-light: #07a3f2;
  }
  &[name="github"] {
    --icon-color-light: #3d7ac0;
  }
  &[name="instagram"] {
    --icon-color-light: #e43e6c;
  }
  &[name="dribbble"] {
    --icon-color-light: #ed5689;
  }
  &[name="unsplash"] {
    --icon-color-light: #ffffff;
    --icon-color-dark: #000000;
  }
  &[name="discord"] {
    --icon-color-light: #718cda;
  }
  &[name="league-of-legends"] {
    --icon-color-light: #947341;
  }
}

.icon-group {
  display: flex;
  align-items: center;
}

@include themeLight() {
  .icon {
    &:hover svg,
    svg {
      fill: var(--icon-color-dark);
    }
  }
}
