[type='checkbox'] {
  display: none;

  & + span {
    position: relative;
    display: inline-flex;
    align-items: center;

    &::before,
    &::after {
      user-select: none;
      cursor: pointer;
    }

    &::before {
      content: '';
      display: inline-block;
      width: var(--spacing-lg);
      height: var(--spacing-lg);
      margin-right: var(--spacing-sm);
      border: 1px solid var(--color-08);
      transition: var(--transition-fast);
      background: var(--color-background);
    }

    &::after {
      content: '';
      display: none;
      position: absolute;
      top: 6px;
      left: 5px;
      width: 15px;
      height: 8px;
      transform: rotate(-45deg);
      border-left: 2px solid var(--color-08);
      border-bottom: 2px solid var(--color-08);
    }
  }

  &:checked + span {
    &::before {
      background: var(--color-primary);
      border-color: var(--color-primary);
    }

    &::after {
      display: block;
    }
  }

  &:disabled {
    + span {
      &::before,
      &::after {
        cursor: not-allowed;
      }

      &::before {
        border-color: var(--color-09);
      }
    }

    &:checked + span {
      &::before {
        background: var(--color-09);
        border-color: var(--color-09);
      }
    }
  }
}

.task-list-item {
  padding-left: 0;
}
