:root {
  --checkbox-size: var(--spacing-lg);
}

[type='checkbox'] {
  position: absolute;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  margin: 0;
  border: 0;
  z-index: 1;
  appearance: none;
  cursor: pointer;

  & + span {
    position: relative;
    display: inline-flex;
    align-items: center;

    &::before,
    &::after {
      user-select: none;
      cursor: pointer;
    }

    &::before {
      content: '';
      display: inline-block;
      width: var(--checkbox-size);
      height: var(--checkbox-size);
      margin-right: var(--spacing-sm);
      border: 1px solid var(--color-08);
      transition: var(--transition-fast);
      background: var(--color-background);
    }

    &::after {
      content: '';
      display: none;
      position: absolute;
      top: 7px;
      left: 5px;
      width: calc(var(--checkbox-size) * 0.6);
      height: calc(var(--checkbox-size) * 0.25);
      transform: rotate(-45deg);
      border-left: 2px solid var(--color-08);
      border-bottom: 2px solid var(--color-08);
    }
  }

  &:checked + span {
    &::before {
      background: var(--color-primary);
      border-color: var(--color-primary);
    }

    &::after {
      display: block;
    }
  }

  &:disabled {
    cursor: not-allowed;

    + span {
      &::before,
      &::after {
        cursor: not-allowed;
      }

      &::before {
        border-color: var(--color-09);
      }
    }

    &:checked + span {
      &::before {
        background: var(--color-09);
        border-color: var(--color-09);
      }
    }
  }
}

.task-list-item {
  padding-left: 0;
  --checkbox-size: 1.2rem;

  span::after {
    top: 8px;
    left: 4px;
  }
}
