.label {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-xxs) var(--spacing-xs);
  border: 1px solid var(--border-color-normal);
  background: var(--background-color-light);
  color: var(--text-color-medium);
  font-size: var(--text-sm);
  line-height: 1;
  cursor: default;
  user-select: none;

  &--fix,
  &--bug {
    border: 1px solid var(--color-red);
    background: var(--color-red-20);
    color: var(--color-red);
  }

  &--todo,
  &--fixme,
  &--issue {
    border: 1px solid var(--green-red);
    background: var(--green-red-20);
    color: var(--green-red);
  }
}
