#overlay,
.overlay {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--color-dark-80);
  backdrop-filter: blur(4px);

  @include reducedTransparency() {
    background: var(--color-dark);
    backdrop-filter: none;
  }
}

#overlay {
  position: fixed;
}
