.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: var(--color-10);

  span {
    color: transparent;
    font-size: var(--text-xxl);
    font-weight: var(--font-black);
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-08);
  }
}
