$plyr-color-main: hsl(160, 100%, 42%);
$plyr-color-gray-9: rgb(31, 36, 46);
$plyr-font-family: var(--font-sans);
$plyr-control-radius: 0;

@import "~plyr/src/sass/plyr";

.plyr {
  width: 100%;
  min-height: 150px;

  &__control--overlaid {
    border-radius: 0;
  }

  &:not(.plyr--stopped) .plyr__poster {
    visibility: hidden;
  }
}
