.quote {
  position: relative;
  z-index: 0;
  margin: 0 0 var(--content-margin) 0;
  padding: var(--spacing-xxl) var(--spacing-xxl) calc(var(--spacing-xxl) - 5px);
  background: var(--color-10);
  font-family: var(--font-serif);
  text-align: center;

  &::before {
    content: '"';
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 20px;
    opacity: 0.1;
    font-family: var(--font-serif);
    font-size: 200px;
    font-weight: var(--font-bold);
    line-height: 1;
  }

  p {
    margin-bottom: 0;
  }

  footer {
    margin-top: var(--spacing-lg);
    font-family: var(--font-sans);
    font-size: var(--text-sm);
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@include themeLight() {
  .quote {
    background: var(--color-02);
  }
}
