.scroll-to-top {
  display: flex;
  position: fixed;
  right: var(--spacing-lg);
  bottom: var(--spacing-md);
  align-items: center;
  justify-content: center;
  width: var(--scroll-to-top-size);
  height: var(--scroll-to-top-size);
  transition: opacity 180ms ease-in-out;
  color: var(--scroll-to-top-color);
  font-size: var(--text-md);
  font-weight: var(--font-bold);
  pointer-events: none;
  user-select: none;

  --scroll-to-top-size: 45px;

  @include border-right-left(10px);

  &.show {
    opacity: 0.7;
    pointer-events: auto;
  }

  &.hide {
    opacity: 0;
  }

  &:focus,
  &:hover {
    opacity: 1;
  }
}
