.scroll-to-top {
  position: fixed;
  right: var(--spacing-lg);
  bottom: var(--spacing-md);
  user-select: none;

  --scroll-to-top-size: 45px;

  @include border-right-left(10px);

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--scroll-to-top-size);
    height: var(--scroll-to-top-size);
    border: 0;
    background: none;
    color: var(--scroll-to-top-color);
    font-size: var(--text-md);
    font-weight: var(--font-bold);
    appearance: none;
  }

  &:focus,
  &:hover {
    opacity: 1;
  }

  .icon {
    --icon-size: 1rem;
  }
}
