#timeline {
  @include breakpoint-up(md) {
    margin-bottom: 80px;
  }

  header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: var(--spacing-lg);
    column-gap: var(--spacing-lg);
    user-select: none;

    @include breakpoint-up(md) {
      margin-bottom: var(--spacing-xl);
    }

    .icon {
      --icon-size: 30px;

      @include breakpoint-up(md) {
        --icon-size: 50px;
      }
    }

    .title {
      font-family: var(--font-serif);
      font-size: var(--text-lg);
      font-weight: var(--font-bold);
      letter-spacing: var(--spacing-xs);
      text-transform: uppercase;

      @include breakpoint-up(md) {
        font-size: var(--text-xxl);
      }
    }
  }

  .items {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 14px;
      width: 2px;
      height: 110%;
      background: var(--color-light);
      background: linear-gradient(0deg, transparent 0%, var(--color-light) 30%);

      @include breakpoint-up(md) {
        left: 24px;
        height: 130%;
      }
    }

    .item {
      position: relative;
      margin-bottom: var(--spacing-xl);
      padding-left: calc(30px + var(--spacing-lg));

      @include breakpoint-up(md) {
        padding-left: calc(50px + var(--spacing-lg));
      }

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 9px;
        width: 12px;
        height: 12px;
        border: 2px solid var(--color-light);
        border-radius: var(--border-radius-full);
        background: var(--background-color-normal);
        box-shadow: 0 0 0 8px var(--background-color-normal);

        @include breakpoint-up(md) {
          top: 4px;
          left: 17px;
          width: 16px;
          height: 16px;
        }
      }

      .timespan {
        color: var(--color-06);
      }

      .title {
        margin-top: var(--spacing-xxs);
        margin-bottom: var(--spacing-xxs);
        color: var(--color-primary);
        font-size: var(--text-lg);

        &:hover {
          color: var(--color-primary-dark);
        }

        a {
          display: block;
        }
      }
    }
  }
}
