.showcase {
  display: grid;
  grid-template-areas:
    '.'
    '.'
    '.';
  user-select: none;
  height: 100vh;

  @include breakpoint-up(lg) {
    grid-template-areas: '. . .';
  }

  &:hover {
    .item {
      .backdrop {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 220ms;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    @include breakpoint-up(lg) {
      align-items: flex-end;
    }

    &:hover {
      .backdrop {
        &::after {
          opacity: 0;
        }

        .img {
          transform: scale(1.05);
        }
      }

      .content {
        @include breakpoint-up(lg) {
          transform: translateY(-100px);
          opacity: 1;
        }
      }
    }

    .backdrop {
      .img {
        will-change: transform;
      }

      &::after {
        transition: opacity var(--transition-fast);
        opacity: 0.3;

        @include breakpoint-up(lg) {
          opacity: 0;
        }
      }
    }

    .content {
      text-align: center;
      transition: all 200ms ease-in-out;

      @include breakpoint-up(lg) {
        transform: translateY(-70px);
        opacity: 0;
      }

      h2 {
        font-size: var(--text-xxl);
        font-family: var(--font-serif);
        font-weight: var(--font-bold);
      }

      h3 {
        font-size: var(--text-md);
        margin-top: var(--spacing-sm);
      }
    }
  }
}
