{
  "root": true,
  "plugins": ["import"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "project": "tsconfig.node.json",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:unicorn/recommended",
    "prettier"
  ],
  "ignorePatterns": ["dist/**"],
  "rules": {
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "allowSeparatedGroups": true
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "pathGroupsExcludedImportTypes": ["builtin"],
        "pathGroups": [
          {
            "pattern": "src/**",
            "group": "internal",
            "position": "before"
          }
        ],
        "groups": [
          "builtin",
          "external",
          ["internal", "parent", "sibling"],
          "index",
          "object"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.vue"],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript",
        "plugin:sonarjs/recommended",
        "plugin:compat/recommended",
        "prettier"
      ],
      "rules": {
        "import/named": "off",
        "import/namespace": "off",
        "import/default": "off",
        "import/no-cycle": "off",
        "import/no-deprecated": "off",
        "import/no-unused-modules": "off",
        "import/no-anonymous-default-export": "off",
        "import/no-named-as-default-member": "off",
        "import/no-named-as-default": "off",
        "@typescript-eslint/indent": "off"
      }
    },
    {
      "files": ["*.vue"],
      "extends": ["plugin:vue/vue3-recommended", "prettier"],
      "parser": "vue-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".vue"]
      },
      "rules": {
        "unicorn/filename-case": [
          "error",
          {
            "case": "pascalCase"
          }
        ],
        "vue/multi-word-component-names": "off" // Why?
      }
    },
    {
      "files": ["src/**/*.ts", "src/**/*.vue"],
      "env": {
        "node": false,
        "browser": true
      },
      "parserOptions": {
        "project": "tsconfig.json"
      }
    }
  ]
}
