[page="error"] {
  #hero {
    h1 {
      margin-bottom: var(--spacing-xl);
      font-size: 120px;
    }

    h2 {
      font-weight: var(--font-bold);
      letter-spacing: 2px;
      text-transform: uppercase;
      opacity: 0.2;
    }
  }
}
