.home {
  .headline {
    position: absolute;
    top: -80px;
    left: -40px;
    font-size: 1500%;
    font-family: var(--font-serif);
    opacity: 0.05;
    user-select: none;
    pointer-events: none;
  }

  main {
    padding-top: 40px;

    @include breakpoint-up(md) {
      padding-top: 60px;
    }

    @include breakpoint-up(lg) {
      padding-top: 120px;
    }
  }
}
