[page='writings'] {
  .list {
    .item {
      margin-bottom: var(--spacing-lg);
      padding-bottom: var(--spacing-lg);

      @include breakpoint-up(lg) {
        margin-bottom: var(--spacing-xl);
        padding-bottom: var(--spacing-xl);
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--divider-color);
      }
    }

    header {
      margin-bottom: var(--spacing-xs);

      @include breakpoint-up(md) {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: var(--spacing-md);
      }
    }

    h2 {
      font-family: var(--font-serif);
      font-size: var(--text-xl);

      @include breakpoint-up(lg) {
        font-size: var(--text-xxl);
      }
    }

    time {
      color: var(--text-color-dark);

      @include breakpoint-down(md) {
        display: inline-block;
        margin-top: var(--spacing-xxs);
      }
    }

    p {
      color: var(--text-color-dark);
      font-size: var(--text-md);

      @include breakpoint-up(lg) {
        font-size: var(--text-lg);
      }
    }
  }
}
