[page='writings'] {
  &.home {
    main {
      margin-top: var(--spacing-xxl);
      padding: var(--spacing-xxl) 0;
    }
  }

  &.single {
    #hero {
      .container {
        display: block;
        text-align: center;
      }
    }
  }
}
