[theme='dark']:root {
  --background-color: var(--color-dark);

  --text-color-normal: var(--color-light);
  --text-color-light: var(--color-03);
  --text-color-richer: var(--color-05);
  --text-color-dark: var(--color-07);
  --text-color-highlight: var(--color-primary);
}
