::-moz-selection {
  background-color: var(--c);
  color: #fff;
}

::selection {
  background-color: #{rgba($color-primary, 0.8)};
  color: var(--color-dark);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  line-height: 1.5;
  color: var(--text-color-normal);
  background: var(--background-color);
  overscroll-behavior: none;
  scroll-behavior: smooth;

  @include reducedMotion() {
    scroll-behavior: auto;
  }
}

pre,
code {
  white-space: pre-wrap;
}

hr {
  border-bottom: 1px solid var(--color-09);
  margin-bottom: var(--content-margin);
  margin-top: var(--content-margin);
}

b,
strong {
  font-weight: var(--font-bold);
}

u {
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.07em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0;
}

abbr {
  cursor: help;
}

article {
  form,
  figure,
  table,
  fieldset,
  p,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: var(--content-margin);
  }

  h2 {
    &:not(:first-of-type) {
      padding-top: var(--spacing-xs); // margin does not work here
    }
  }

  p {
    margin-top: -7px; // this fixes typo height
  }

  h1 {
    font-size: var(--text-xxl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  h4 {
    font-size: var(--text-md);
  }
  h5 {
    font-size: var(--text-sm);
  }
  h6 {
    font-size: var(--text-xs);
  }

  figure {
    border: 1px solid var(--color-09);

    > img,
    > picture,
    > span {
      padding: var(--spacing-md);
    }

    a {
      position: relative;
    }

    figcaption {
      border-top: 1px solid var(--color-09);
      padding: var(--spacing-md);
    }
  }

  blockquote {
    position: relative;
    margin: 0 0 var(--content-margin) 0;
    padding: var(--spacing-xxl) var(--spacing-xxl)
      calc(var(--spacing-xxl) - 5px);
    background: var(--color-10);
    font-family: var(--font-serif);
    z-index: 0;
    text-align: center;

    &::before {
      content: '"';
      position: absolute;
      top: 0px;
      left: 20px;
      font-size: 200px;
      font-weight: var(--font-black);
      font-family: var(--font-serif);
      line-height: 1;
      z-index: -1;
      opacity: 0.1;
    }

    p {
      margin-bottom: 0;
    }

    footer {
      margin-top: var(--spacing-lg);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: var(--text-sm);
      font-weight: var(--font-semi-bold);
      font-family: var(--font-sans);
    }
  }
}
