*,
*::before,
*::after {
  box-sizing: border-box;
}

hr {
  border: 0;
  margin: 0;
}

textarea {
  resize: vertical;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--color-05);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: var(--color-05);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-05);
}

button,
[role='button'] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre,
code,
kbd,
samp {
  font-family: var(--font-mono);
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

figure {
  user-select: none;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
