$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$font-path: '/fonts' !default;
$font-display: swap !default;

$color-primary: #00e2a1;
$color-dark: #1f242e;
$color-light: #ffffff;

:root {
  --container-padding-x: var(--spacing-lg);
  --content-margin: var(--spacing-xl);

  --font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Roboto, Arial, 'Segoe UI', 'Noto Sans', sans-serif, var(--font-emoji);
  --font-serif: 'Abril Fatface', -webkit-pictograph, serif, var(--font-emoji);
  --font-mono: 'IBM Plex Mono', 'mononoki', Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace, var(--font-emoji);

  --font-extra-light: 100;
  --font-light: 200;
  --font-book: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;

  --text-xxs: 0.4em;
  --text-xs: 0.6em;
  --text-sm: 0.75em;
  --text-md: 1em;
  --text-lg: 1.25em;
  --text-xl: 1.6em;
  --text-xxl: 2em;
  --text-xxxl: 2.8em;

  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;

  --color-primary: #{$color-primary};
  --color-primary-light: #{lighten($color-primary, 30%)};
  --color-primary-dark: #{darken($color-primary, 10%)};

  --color-light: #ffffff;
  --color-light-80: #{rgba(#ffffff, 0.8)};
  --color-light-60: #{rgba(#ffffff, 0.6)};
  --color-light-40: #{rgba(#ffffff, 0.4)};
  --color-light-20: #{rgba(#ffffff, 0.2)};

  --color-dark: #{$color-dark};
  --color-dark-80: #{rgba($color-dark, 0.8)};
  --color-dark-60: #{rgba($color-dark, 0.6)};
  --color-dark-40: #{rgba($color-dark, 0.4)};
  --color-dark-20: #{rgba($color-dark, 0.2)};

  --color-10: #262b36;
  --color-09: #313845;
  --color-08: #474f5e;
  --color-07: #697182;
  --color-06: #929aab;
  --color-05: #b8bfce;
  --color-04: #d2d8e4;
  --color-03: #e4e8f0;
  --color-02: #f3f5fa;
  --color-01: #fafcff;

  --color-orange: #ffbf00;
  --color-orange-20: #{rgba(#ffbf00, 0.2)};
  --color-red: #ff0000;
  --color-red-20: #{rgba(#ff0000, 0.2)};
  --color-blue: #31cdff;
  --color-blue-20: #{rgba(#31cdff, 0.2)};
  --color-green: #38fc73;
  --color-green-20: #{rgba(#38fc73, 0.2)};

  --transition-fast: 0.2s cubic-bezier(0.57, 0.39, 0.39, 0.57);
  --transition-slow: 0.4s cubic-bezier(0.57, 0.39, 0.39, 0.57);

  --border-radius-sm: 0.2rem;
  --border-radius: 0.3rem;
  --border-radius-lg: 0.5rem;
  --border-radius-full: 100%;
  --border-radius-pill: 9999px;

  // https://tobiasahlin.com/blog/layered-smooth-box-shadows/
  --shadow-md: 0 1px 1px #{rgba($color-dark, 0.15)},
    0 2px 2px #{rgba($color-dark, 0.15)}, 0 4px 4px #{rgba($color-dark, 0.15)},
    0 8px 8px #{rgba($color-dark, 0.15)};
  --shadow-lg: 0 1px 1px #{rgba($color-dark, 0.11)},
    0 2px 2px #{rgba($color-dark, 0.11)}, 0 4px 4px #{rgba($color-dark, 0.11)},
    0 8px 8px #{rgba($color-dark, 0.11)}, 0 16px 16px #{rgba($color-dark, 0.11)},
    0 32px 32px #{rgba($color-dark, 0.11)};
  --shadow-xl: 0 1px 2px #{rgba($color-dark, 0.07)},
    0 2px 4px #{rgba($color-dark, 0.07)}, 0 4px 8px #{rgba($color-dark, 0.07)},
    0 8px 16px #{rgba($color-dark, 0.07)},
    0 16px 32px #{rgba($color-dark, 0.07)},
    0 32px 64px #{rgba($color-dark, 0.07)};
}
