:root {
  --font-extra-light: 100;
  --font-light: 200;
  --font-book: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;

  --text-xxs: 0.4em;
  --text-xs: 0.6em;
  --text-sm: 0.75em;
  --text-md: 1em;
  --text-lg: 1.25em;
  --text-xl: 1.6em;
  --text-xxl: 2em;
  --text-xxxl: 2.8em;

  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;

  --color-primary: hsl(160, 100%, 42%);
  --color-primary-light: hsl(160, 100%, 46%);
  --color-primary-dark: hsl(160, 100%, 36%);

  --color-light: #ffffff;
  --color-light-80: rgba(255, 255, 255, 0.8);
  --color-light-60: rgba(255, 255, 255, 0.6);
  --color-light-40: rgba(255, 255, 255, 0.4);
  --color-light-20: rgba(255, 255, 255, 0.2);

  --color-dark: rgb(31, 36, 46);
  --color-dark-80: rgba(31, 36, 46, 0.8);
  --color-dark-60: rgba(31, 36, 46, 0.6);
  --color-dark-40: rgba(31, 36, 46, 0.4);
  --color-dark-20: rgba(31, 36, 46, 0.2);

  --color-10: #262b36;
  --color-09: #313845;
  --color-08: #474f5e;
  --color-07: #697182;
  --color-06: #929aab;
  --color-05: #b8bfce;
  --color-04: #d2d8e4;
  --color-03: #e4e8f0;
  --color-02: #f3f5fa;
  --color-01: #fafcff;

  --color-orange: rgb(255, 191, 0);
  --color-orange-20: rgba(255, 191, 0, 0.2);
  --color-red: rgb(255, 0, 0);
  --color-red-20: rgba(255, 0, 0, 0.2);
  --color-blue: rgb(49, 205, 255);
  --color-blue-20: rgba(49, 205, 255, 0.2);
  --color-green: rgb(56, 252, 115);
  --color-green-20: rgba(56, 252, 115, 0.2);

  --transition-fast: 0.2s cubic-bezier(0.57, 0.39, 0.39, 0.57);
  --transition-slow: 0.4s cubic-bezier(0.57, 0.39, 0.39, 0.57);

  --border-radius-sm: 0.2rem;
  --border-radius: 0.3rem;
  --border-radius-lg: 0.5rem;
  --border-radius-full: 100%;
  --border-radius-pill: 9999px;

  // https://tobiasahlin.com/blog/layered-smooth-box-shadows/
  --shadow-md: 0 1px 1px rgba(31, 36, 46, 0.15), 0 2px 2px rgba(31, 36, 46, 0.15),
    0 4px 4px rgba(31, 36, 46, 0.15), 0 8px 8px rgba(31, 36, 46, 0.15);
  --shadow-lg: 0 1px 1px rgba(31, 36, 46, 0.11), 0 2px 2px rgba(31, 36, 46, 0.11),
    0 4px 4px rgba(31, 36, 46, 0.11), 0 8px 8px rgba(31, 36, 46, 0.11),
    0 16px 16px rgba(31, 36, 46, 0.11), 0 32px 32px rgba(31, 36, 46, 0.11);
  --shadow-xl: 0 1px 2px rgba(31, 36, 46, 0.07), 0 2px 4px rgba(31, 36, 46, 0.07),
    0 4px 8px rgba(31, 36, 46, 0.07), 0 8px 16px rgba(31, 36, 46, 0.07),
    0 16px 32px rgba(31, 36, 46, 0.07), 0 32px 64px rgba(31, 36, 46, 0.07);

  --container-spacing: var(--spacing-lg);
  --content-spacing: var(--spacing-xl);
}
