// is installed locally

$font-path: '../fonts/Abril-Fatface';
$font-display: fallback;

@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: $font-display;
  src: local('AbrilFatface'), local('AbrilFatface-Regular'),
    url('#{$font-path}/AbrilFatface-Regular.woff2') format('woff2'),
    url('#{$font-path}/AbrilFatface-Regular.woff') format('woff');
}
