$font-name: 'Inter';
$font-slug: 'Inter';
$font-path: '../fonts/#{$font-slug}';
$font-display: swap;

// https://github.com/rsms/inter/

@font-face {
  font-family: $font-name;
  font-style: normal;
  font-weight: 400;
  font-display: $font-display;
  src: local($font-name), local($font-slug), local('#{$font-slug}-Regular'),
    url('#{$font-path}/#{$font-slug}-Regular.woff2') format('woff2'),
    url('#{$font-path}/#{$font-slug}-Regular.woff') format('woff');
}

@font-face {
  font-family: $font-name;
  font-style: normal;
  font-weight: 700;
  font-display: $font-display;
  src: local('#{$font-slug}-Bold'), url('#{$font-path}/Inter-Bold.woff2') format('woff2'),
    url('#{$font-path}/Inter-Bold.woff') format('woff');
}
