$font-name: "Playfair Display";
$font-slug: "PlayfairDisplay";
$font-path: "../fonts/#{$font-slug}";
$font-version: "1.202";
$font-display: fallback;

// https://github.com/clauseggers/Playfair-Display

@font-face {
  font-weight: 400;
  font-family: $font-name;
  font-style: normal;
  src: local($font-name), local($font-slug), local("#{$font-slug}-Regular"),
    url("#{$font-path}/#{$font-slug}-Regular.woff2?v=#{$font-version}") format("woff2"),
    url("#{$font-path}/#{$font-slug}-Regular.woff?v=#{$font-version}") format("woff");
  font-display: $font-display;
}
