article {
  blockquote {
    margin: 0 0 var(--content-margin) 0;
    padding: var(--spacing-xs) var(--spacing-lg);
    border-left: 2px solid var(--color-primary);

    @include breakpoint-up(md) {
      padding: var(--spacing-md) var(--spacing-xl);
    }

    p {
      margin-bottom: 0;
      text-align: left;
    }
  }
}

@include themeLight() {
  article {
    blockquote {
      background: var(--color-02);
    }
  }
}
