article {
  blockquote {
    margin: 0 0 var(--content-margin) 0;
    padding: var(--spacing-md) var(--spacing-xl);
    border-left: 2px solid var(--color-primary);

    p {
      margin-bottom: 0;
    }
  }
}

@include themeLight() {
  article {
    blockquote {
      background: var(--color-02);
    }
  }
}
