/* inline code */

p code {
  margin: 0 2px;
  padding: 2px 7px;
  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius-sm);
  background: var(--color-09);
  color: var(--color-05);
  font-size: var(--text-sm);
}

/* highlight code block */

.prism-code {
  display: grid;
  position: relative;
  grid-template-areas: 'numbers code';
  grid-template-columns: auto 1fr;
  margin-bottom: var(--content-margin);
  background: var(--color-10);
  font-family: var(--font-mono);
  font-size: var(--text-sm);
  line-height: 1.6;
  word-wrap: normal;
  white-space: pre;

  code {
    grid-area: code;
    padding: var(--spacing-sm);
    border: 1px solid var(--color-08);
  }

  .highlight-line,
  .line-numbers {
    position: relative;
    z-index: 0;
  }

  .highlight-line {
    display: block;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      width: calc(100% + 24px);
      height: 100%;
      margin-left: -12px;
      background: var(--color-09);
      pointer-events: none;
      user-select: none;
    }
  }

  .line-numbers {
    grid-area: numbers;
    width: 30px;
    height: 100%;
    padding: var(--spacing-sm) 0;
    border: 1px solid var(--color-08);
    border-right: 0;
    color: var(--color-07);
    text-align: center;
    pointer-events: none;
    user-select: none;

    .highlight-line::before {
      width: calc(100% + 1px);
      border-left: 1px solid var(--color-primary);
    }
  }

  .action-bar {
    display: flex;
    position: absolute;
    right: 1px;
    align-items: center;
    background: var(--color-09);
    user-select: none;

    button,
    .label {
      padding: 4px 8px;
      border: 1px solid var(--color-08);
      border-right: 0;
    }

    button {
      background: transparent;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
