input[type="checkbox"] {
  display: none;

  + .custom-checkbox {
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    transition: var(--transition-fast);
    border: 1px solid var(--color-08);
    background: var(--color-background);
    cursor: pointer;
    user-select: none;

    --checkbox-size: 24px;

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: 3px;
      left: 2px;
      width: 10px;
      height: 6px;
      transform: rotate(-45deg);
      border-bottom: 2px solid var(--color-08);
      border-left: 2px solid var(--color-08);
    }
  }

  &:checked + .custom-checkbox {
    border-color: var(--color-primary);
    background: var(--color-primary);

    &::after {
      display: block;
    }
  }

  &:disabled {
    cursor: not-allowed;

    + .custom-checkbox {
      border-color: var(--color-09);
      cursor: not-allowed;
    }

    &:checked + .custom-checkbox {
      border-color: var(--color-09);
      background: var(--color-09);
    }
  }
}
