:root {
  --checkbox-size: var(--spacing-lg);
}

[type='checkbox'] {
  position: absolute;
  z-index: 1;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  margin: 0;
  border: 0;
  cursor: pointer;
  appearance: none;

  & + span {
    display: block;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      cursor: pointer;
      user-select: none;
    }

    &::before {
      content: '';
      display: inline-block;
      top: 4px;
      left: 0;
      width: 16px;
      height: 16px;
      margin-right: var(--spacing-sm);
      transition: var(--transition-fast);
      border: 1px solid var(--color-08);
      background: var(--color-background);
    }

    &::after {
      content: '';
      display: none;
      top: 8px;
      left: 3px;
      width: 10px;
      height: 6px;
      transform: rotate(-45deg);
      border-bottom: 2px solid var(--color-08);
      border-left: 2px solid var(--color-08);
    }
  }

  &:checked + span {
    &::before {
      border-color: var(--color-primary);
      background: var(--color-primary);
    }

    &::after {
      display: block;
    }
  }

  &:disabled {
    cursor: not-allowed;

    + span {
      &::before,
      &::after {
        cursor: not-allowed;
      }

      &::before {
        border-color: var(--color-09);
      }
    }

    &:checked + span {
      &::before {
        border-color: var(--color-09);
        background: var(--color-09);
      }
    }
  }
}

.task-list-item {
  padding-left: 0;

  span {
    padding-left: 25px;
  }
}
