a {
  transition: color var(--transition-fast);
  text-decoration: none;
}

article a,
a.link {
  color: var(--color-primary);
  text-decoration-color: var(--color-primary);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.07em;

  &:hover {
    text-decoration-style: solid;
  }

  .icon {
    --icon-size: 0.65em;
    margin-right: 1px;
  }
}

@include themeLight() {
  article a,
  a.link {
    color: var(--color-primary-dark);
  }
}
