article {
  ol,
  ul {
    list-style-position: outside;

    ol,
    ul {
      margin-top: var(--spacing-xs);
      margin-bottom: 0;
      margin-left: var(--spacing-md);
    }

    p {
      margin-bottom: 0;
    }

    li {
      position: relative;
      padding-left: 22px;

      &:not(:last-child) {
        margin-bottom: var(--spacing-xs);
      }

      &::before {
        position: absolute;
      }
    }
  }

  ul {
    > li:not(.task-list-item) {
      &::before {
        content: '▁';
        display: flex;
        top: 6px;
        left: 0;
        align-items: center;
        justify-content: center;
        width: 13px;
        height: 13px;
        opacity: 0.6;
        font-size: var(--text-xs);
      }
    }
  }

  ol {
    counter-reset: counter;

    > li {
      counter-increment: counter;

      &::before {
        content: counter(counter) '.';
        display: flex;
        top: 7px;
        left: 0;
        align-items: center;
        justify-content: center;
        width: 13px;
        height: 13px;
        opacity: 0.6;
        font-size: var(--text-sm);
      }
    }
  }

  .task-list-item {
    .custom-checkbox {
      top: 5px;
      --checkbox-size: 14px;

      &::after {
        top: 2px;
        left: 1px;
        width: 10px;
        height: 6px;
      }
    }
  }
}
