article {
  ol,
  ul {
    list-style-position: outside;

    ol,
    ul {
      margin-top: var(--spacing-xs);
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
    }

    li {
      position: relative;
      padding-left: 23px;

      &:not(:last-child) {
        margin-bottom: var(--spacing-xs);
      }

      &::before {
        position: absolute;
      }
    }
  }

  ul {
    > li:not(.task-list-item) {
      &::before {
        content: 'â–';
        left: 0;
        top: 6px;
        width: 13px;
        height: 13px;
        font-size: var(--text-xs);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.6;
      }
    }
  }

  ol {
    counter-reset: counter;

    > li {
      counter-increment: counter;

      &::before {
        content: counter(counter) '.';
        left: 0;
        top: 7px;
        width: 13px;
        height: 13px;
        font-size: var(--text-sm);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.6;
      }
    }
  }
}
