#breadcrumb {
  overflow: hidden;
  text-overflow: ellipsis; // does not work here...
  white-space: nowrap;

  .breadcrumb__link {
    transition: opacity var(--transition-fast);
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .breadcrumb__item,
  .breadcrumb__separator {
    margin-right: var(--spacing-xs);
    font-size: var(--text-sm);
    letter-spacing: 1px;
  }
}
