.container {
  width: 100%;
  max-width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-padding-x);
  padding-left: var(--container-padding-x);

  @each $breakpoint, $max-width in $container-max-widths {
    @include breakpoint-up($breakpoint) {
      max-width: $max-width;
    }
  }

  &--small {
    @include breakpoint-up(lg) {
      max-width: map-get($container-max-widths, md);
    }
  }

  &--medium {
    @include breakpoint-up(lg) {
      max-width: map-get($container-max-widths, lg);
    }
  }
}
