#footer {
  display: grid;
  justify-items: center;
  padding-top: var(--spacing-xxl);
  padding-bottom: 10rem;
  user-select: none;

  @include breakpoint-up(sm) {
    padding-bottom: 20rem;
  }

  @include breakpoint-up(lg) {
    padding-bottom: 30rem;
  }

  .logo {
    --logo-size: 80px;
    margin-bottom: var(--spacing-lg);
    opacity: 0.05;
  }

  .list {
    margin-bottom: var(--spacing-md);

    li {
      display: inline-block;
      margin: 0 var(--spacing-xxs);
    }

    a {
      padding: var(--spacing-xs);
      transition: opacity 260ms ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .social a {
    opacity: 0.5;
  }

  .links a {
    opacity: 0.2;
  }

  .icon {
    --icon-size: 20px;
  }

  .copyright {
    opacity: 0.2;
  }
}
