#footer {
  display: grid;
  padding-top: var(--spacing-xxl);
  padding-right: var(--container-padding-x);
  padding-bottom: 10rem;
  padding-left: var(--container-padding-x);
  text-align: center;
  user-select: none;
  justify-items: center;

  @include breakpoint-up(sm) {
    padding-bottom: 20rem;
  }

  @include breakpoint-up(lg) {
    padding-bottom: 30rem;
  }

  .logo {
    --logo-size: 80px;
    margin-bottom: var(--spacing-lg);
    opacity: 0.4;

    svg {
      --logo-color: var(--background-color-dark);
    }
  }

  .list {
    margin-bottom: var(--spacing-md);

    li {
      display: inline-block;
      margin: 0 var(--spacing-xxs);
    }

    a {
      padding: var(--spacing-xs);
    }
  }

  .social a {
    transition: opacity 220ms ease-in-out;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  .links a,
  .copyright {
    color: var(--text-color-medium);
  }

  .links a {
    transition: color 220ms ease-in-out;

    &:hover {
      color: var(--text-color-highlight);
    }
  }

  .icon {
    --icon-size: 20px;
  }
}

@include themeLight() {
  #footer {
    .links a,
    .copyright {
      color: var(--text-color-richer);

      &:hover {
        color: var(--text-color-dark);
      }
    }
  }
}
