#header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: var(--spacing-lg) var(--container-padding-x);
  display: grid;
  grid-template-areas: 'logo breadcrumb nav';
  grid-template-columns: auto auto 1fr;
  align-items: center;
  column-gap: var(--spacing-md);
  transition: var(--transition-fast);
  user-select: none;

  &.sticky {
    padding: var(--spacing-md) var(--container-padding-x);
    background: var(--color-dark-80);
    backdrop-filter: blur(4px);
  }

  #logo {
    grid-area: logo;
    width: 40px;
  }

  #navigation {
    grid-area: nav;
    justify-self: end;
  }

  #breadcrumb {
    grid-area: breadcrumb;
  }
}

.header-fixed #header {
  position: fixed;
}

.header-click-through #header {
  pointer-events: none;

  #logo,
  #navigation,
  #breadcrumb {
    pointer-events: auto;
  }
}
