#header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: var(--spacing-lg) var(--container-padding-x);
  display: grid;
  grid-template-areas: 'logo nav';
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  transition: var(--transition-fast);

  &.sticky {
    padding: var(--spacing-md) var(--container-padding-x);
    background: var(--color-dark-80);
    backdrop-filter: blur(4px);
  }

  #logo {
    grid-area: logo;
    width: 40px;
  }

  #nav {
    grid-area: nav;
  }
}

.header-fixed #header {
  position: fixed;
}
