#hero {
  position: relative;
  overflow: hidden; // backdrop is wider than the window

  .backdrop {
    &::after {
      // https://github.com/w3c/csswg-drafts/issues/1332
      // https://github.com/larsenwork/postcss-easing-gradients
      // https://larsenwork.com/easing-gradients/
      background: transparent;
      // background-image: linear-gradient(
      //   to top,
      //   var(--color-dark),
      //   cubic-bezier(0.61, 0, 0.23, 0.91),
      //   transparent
      // );
      // background-image: linear-gradient(
      //   to top,
      //   hsla(330, 100%, 45%, 1),
      //   cubic-bezier(0.2, 0, 0.23, 0.91),
      //   hsla(210, 100%, 45%, 0.4)
      // );
    }
  }

  .container {
    display: grid;
    grid-template-areas: 'title' 'info';
    grid-template-columns: 1fr;
    column-gap: var(--spacing-md);
    row-gap: var(--spacing-lg);
    align-items: center;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: var(--spacing-lg);

    @include breakpoint-up(sm) {
      padding-top: 150px;
    }

    @include breakpoint-up(md) {
      grid-template-areas: 'title info';
      grid-template-columns: auto auto;
      padding-top: 150px;
    }

    @include breakpoint-up(lg) {
      padding-top: 200px;
    }

    @include breakpoint-up(xl) {
      padding-top: 250px;
      padding-bottom: var(--spacing-xxl);
    }
  }

  .post-title {
    grid-area: title;
    margin-bottom: var(--spacing-sm);

    h1 {
      font-family: var(--font-serif);
      font-size: var(--text-xxl);
      margin-bottom: var(--spacing-sm);
    }

    h2 {
      font-family: var(--font-mono);
      color: var(--color-light-60);
    }
  }

  .post-info {
    grid-area: info;
    position: relative;
    padding: var(--spacing-md) var(--spacing-lg);
    font-size: var(--text-sm);
    font-family: var(--font-mono);
    user-select: none;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      border-width: 1px;
      border-style: solid;
    }

    &::before {
      top: 0;
      left: 0;
      border-image: linear-gradient(135deg, var(--color-light), transparent);
      border-image-slice: 10% 0 0 90%;
    }

    &::after {
      right: 0;
      bottom: 0;
      border-image: linear-gradient(135deg, transparent, var(--color-light));
      border-image-slice: 0 90% 10% 0;
    }

    .pre {
      font-weight: var(--font-semi-bold);
      text-transform: uppercase;
    }
  }
}
