#hero {
  position: relative;
  overflow: hidden; // backdrop is wider than the window

  .backdrop {
    &::after {
      background: transparent;
      // BUG: #1
      background-image: linear-gradient(
        to top,
        #1e252d,
        cubic-bezier(0.66, 0, 0.41, 0.42),
        transparent
      );
      background-image: linear-gradient(
        0deg,
        rgba(30, 37, 45, 1),
        rgba(30, 37, 45, 0.9914) 14.71%,
        rgba(30, 37, 45, 0.9662) 26.23%,
        rgba(30, 37, 45, 0.92531) 35.17%,
        rgba(30, 37, 45, 0.86963) 42.15%,
        rgba(30, 37, 45, 0.80006) 47.76%,
        rgba(30, 37, 45, 0.7175) 52.63%,
        rgba(30, 37, 45, 0.62286) 57.34%,
        rgba(30, 37, 45, 0.51704) 62.52%,
        rgba(30, 37, 45, 0.40094) 68.77%,
        rgba(30, 37, 45, 0.27546) 76.69%,
        rgba(30, 37, 45, 0.14152) 86.9%,
        rgba(30, 37, 45, 0)
      );
    }
  }

  .container {
    display: grid;
    grid-template-areas: 'title' 'info';
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: var(--spacing-lg);
    column-gap: var(--spacing-md);
    row-gap: var(--spacing-lg);

    @include breakpoint-up(sm) {
      padding-top: 150px;
    }

    @include breakpoint-up(md) {
      grid-template-areas: 'title info';
      grid-template-columns: auto auto;
      padding-top: 150px;
    }

    @include breakpoint-up(lg) {
      padding-top: 200px;
    }

    @include breakpoint-up(xl) {
      padding-top: 250px;
      padding-bottom: var(--spacing-xxl);
    }
  }

  .post-title {
    grid-area: title;
    margin-bottom: var(--spacing-sm);

    h1 {
      margin-bottom: var(--spacing-md);
      font-family: var(--font-serif);
      font-size: var(--text-xxl);
    }

    h2 {
      color: var(--text-color-richer);
      font-family: var(--font-mono);
    }
  }

  .post-info {
    position: relative;
    grid-area: info;
    padding: var(--spacing-md) var(--spacing-lg);
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    user-select: none;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      border-width: 1px;
      border-style: solid;
    }

    &::before {
      top: 0;
      left: 0;
      border-image: linear-gradient(135deg, var(--color-light), transparent);
      border-image-slice: 10% 0 0 90%;
    }

    &::after {
      right: 0;
      bottom: 0;
      border-image: linear-gradient(135deg, transparent, var(--color-light));
      border-image-slice: 0 90% 10% 0;
    }

    .pre {
      font-weight: var(--font-bold);
      text-transform: uppercase;
    }
  }
}

.hero-small #hero {
  .container {
    padding-top: 100px;
    padding-bottom: var(--spacing-md);

    @include breakpoint-up(sm) {
      padding-top: 120px;
    }

    @include breakpoint-up(xl) {
      padding-bottom: var(--spacing-md);
    }
  }
}

@include themeLight() {
  #hero {
    .backdrop {
      &::after {
        background-image: linear-gradient(
          0deg,
          rgb(250, 252, 255),
          rgba(250, 252, 255, 0.9914) 14.71%,
          rgba(250, 252, 255, 0.9662) 26.23%,
          rgba(250, 252, 255, 0.92531) 35.17%,
          rgba(250, 252, 255, 0.86963) 42.15%,
          rgba(250, 252, 255, 0.80006) 47.76%,
          rgba(250, 252, 255, 0.7175) 52.63%,
          rgba(250, 252, 255, 0.62286) 57.34%,
          rgba(250, 252, 255, 0.51704) 62.52%,
          rgba(250, 252, 255, 0.40094) 68.77%,
          rgba(250, 252, 255, 0.27546) 76.69%,
          rgba(250, 252, 255, 0.14152) 86.9%,
          rgba(250, 252, 255, 0)
        );
      }
    }
  }
}
