#navigation {
  display: flex;

  &.open {
    .wrapper {
      display: flex;
    }

    .overlay {
      display: block;
    }
  }

  .overlay {
    display: none;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    @include breakpoint-down(sm) {
      display: none;
      position: fixed;
      z-index: 21;
      top: 0;
      left: 0;
    }
  }

  nav {
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    text-transform: uppercase;

    li {
      display: inline-block;

      @include breakpoint-down(sm) {
        display: block;
        margin-bottom: var(--spacing-lg);
        font-size: var(--text-xl);
        text-align: center;
      }
    }

    .nav-link {
      margin-left: var(--spacing-lg);
      transition: color 240ms ease-in-out, opacity 240ms ease-in-out;
      color: var(--text-color-medium);

      &:hover,
      &.active {
        color: var(--text-color-highlight);
      }
    }
  }

  // Trigger

  .trigger {
    position: relative;
    z-index: 22;
    width: 40px;
    height: 40px;
    border: 0;
    background: transparent;
    cursor: pointer;

    @include breakpoint-up(md) {
      display: none;
    }

    .hl {
      position: absolute;
      z-index: 10;
      width: 28px;
      height: 2px;
      overflow: hidden;
    }

    .hli {
      position: absolute;
      top: 0;
      left: 0;
      width: 84px;
      height: 2px;
      will-change: transform;

      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 28px;
        height: 2px;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        background-color: var(--color-light);
      }

      &::before {
        left: -56px;
      }

      &::after {
        left: 0;
      }
    }

    .hl1,
    .hl2,
    .hl3,
    .hc1,
    .hc2 {
      left: 6px;
    }

    .hl1 {
      top: 15px;
    }

    .hl2 {
      top: 23px;
    }

    .hl3 {
      top: 25px;
    }

    .hc1,
    .hc2 {
      top: 20px;
    }

    .hc1 {
      transform: rotate(45deg);
    }

    .hc2 {
      transform: rotate(-45deg);
    }

    .lh,
    .hli {
      transition-duration: 0.6s;
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }

    .hci1,
    .hci2 {
      transform: translateX(-33.3%);
    }

    .hli1 {
      transition-delay: 0.2s;
    }

    .hli2 {
      transition-delay: 0.25s;
    }

    .hli2::before,
    .hli2::after {
      transition-delay: 0.05s;
    }

    .hli3 {
      transition-delay: 0.3s;
    }

    .hli3::before,
    .hli3::after {
      transition-delay: 0.1s;
    }

    .hci1 {
      transition-delay: 0s;
    }

    .hci2 {
      transition-delay: 0.05s;
    }

    .hci2::before,
    .hci2::after {
      transition-delay: 0.1s;
    }

    &:hover {
      .hli::before,
      .hli::after {
        transform: translateX(200%);
      }

      .hli1::before,
      .hli1::after,
      .hli2::before,
      .hli2::after,
      .hli3::before,
      .hli3::after {
        transition-duration: 1s;
      }

      .hci1::before,
      .hci1::after,
      .hci2::before,
      .hci2::after {
        transition-duration: 0s;
      }
    }
  }

  &.open .trigger {
    .hli1,
    .hli2,
    .hli3 {
      transform: translateX(33.3%);
    }

    .hci1,
    .hci2 {
      transform: translateX(0);
    }

    .hli1 {
      transition-delay: 0s;
    }

    .hli2 {
      transition-delay: 0.05s;
    }

    .hli3 {
      transition-delay: 0.1s;
    }

    .hci1 {
      transition-delay: 0.25s;
    }

    .hci2 {
      transition-delay: 0.3s;
    }

    &:hover {
      .hci1::before,
      .hci1::after,
      .hci2::before,
      .hci2::after {
        transition-duration: 1s;
      }

      .hli1::before,
      .hli1::after,
      .hli2::before,
      .hli2::after,
      .hli3::before,
      .hli3::after {
        transition-duration: 0s;
      }
    }
  }
}

.header-float #navigation {
  .nav-link {
    opacity: 0.7;
    color: var(--text-color-normal);

    &:hover,
    &.active {
      opacity: 1;
      color: var(--text-color-normal);
    }
  }
}
