#navigation {
  display: flex;
  position: relative;

  nav {
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    text-transform: uppercase;

    li {
      display: flex;
      position: relative;
      flex-direction: column;
    }

    .nav-link {
      line-height: 1;

      &:hover,
      &.active {
        color: var(--text-color-highlight);
      }
    }
  }

  &.desktop {
    nav {
      font-size: var(--text-sm);
    }

    nav > ul > li {
      display: inline-flex;
    }

    li {
      ul {
        display: none;
        position: absolute;
        top: calc(100% - 1px);
        right: 0;
        padding: var(--spacing-xxs) 0;
        background: var(--color-09);
        text-align: right;
      }

      &:hover ul {
        display: block;
      }
    }

    .nav-link {
      padding: var(--spacing-sm);
      transition: color 240ms ease-in-out, opacity 240ms ease-in-out;
      color: var(--text-color-medium);
    }
  }

  &.mobile {
    nav {
      visibility: hidden;
      position: absolute;
      top: 50px;
      right: 0;
      width: auto;
      max-width: calc(100vw - var(--container-padding-x));
      padding: var(--spacing-md) var(--spacing-xxs);
      overflow: hidden;
      transform: translate3d(0, 0, 0);
      opacity: 0;
      background: var(--color-10);
      font-size: var(--text-lg);
      will-change: width, height, opacity, visibility;
    }

    > ul > li:not(:last-child) {
      margin-bottom: var(--spacing-xs);
    }

    li {
      &::before {
        position: absolute;
        top: -22px;
        left: 8px;
        width: 15px;
        height: 44px;
        border-width: 1px;
        border-style: none none solid solid;
        border-color: var(--color-08);
      }

      ul {
        position: relative;
        padding-left: var(--spacing-sm);
      }

      ul li::before {
        content: "";
      }
    }

    .has-childs::before {
      content: "";
      top: 20px;
      left: 20px;
      width: 5px;
      height: 2px;
      border-style: solid none none solid;
    }

    .nav-link {
      position: relative;
      padding: var(--spacing-sm) var(--spacing-xl);
    }
  }

  // Mobile nav toggle

  .toggle {
    position: relative;
    z-index: 11;
    width: 40px;
    height: 40px;
    margin: -6px; // remove flickering
    border: 0;
    background: transparent;
    cursor: pointer;

    .hl {
      position: absolute;
      width: 28px;
      height: 2px;
      overflow: hidden;
    }

    .hli {
      position: absolute;
      top: 0;
      left: 0;
      width: 84px;
      height: 2px;
      will-change: transform;
      transition-duration: 0.6s;
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 28px;
        height: 2px;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        background-color: var(--color-light);
      }

      &::before {
        left: -56px;
      }

      &::after {
        left: 0;
      }
    }

    .hl1,
    .hl2,
    .hc1,
    .hc2 {
      left: 6px;
    }

    .hl1 {
      top: 15px;
    }

    .hl2 {
      top: 23px;
    }

    .hc1,
    .hc2 {
      top: 20px;
    }

    .hc1 {
      transform: rotate(45deg);
    }

    .hc2 {
      transform: rotate(-45deg);
    }

    .hli1 {
      transition-delay: 0.2s;
    }

    .hli2 {
      transition-delay: 0.25s;
    }

    .hli2::before,
    .hli2::after {
      transition-delay: 0.05s;
    }

    .hli3 {
      transition-delay: 0.3s;
    }

    .hli3::before,
    .hli3::after {
      transition-delay: 0.1s;
    }

    .hci1,
    .hci2 {
      transform: translateX(-33.3%);
      opacity: 0;
    }

    .hci1 {
      transition-delay: 0s;
    }

    .hci2 {
      transition-delay: 0.05s;
    }

    .hci2::before,
    .hci2::after {
      transition-delay: 0.1s;
    }

    &:hover {
      .hli::before,
      .hli::after {
        transform: translateX(200%);
      }

      .hli1::before,
      .hli1::after,
      .hli2::before,
      .hli2::after {
        transition-duration: 1s;
      }

      .hci1::before,
      .hci1::after,
      .hci2::before,
      .hci2::after {
        transition-duration: 0s;
      }
    }

    &.open {
      .hl1,
      .hl2 {
        opacity: 0;
      }

      .hli1,
      .hli2 {
        transform: translateX(33.3%);
      }

      .hci1,
      .hci2 {
        transform: translateX(0);
        opacity: 1;
      }

      .hli1 {
        transition-delay: 0s;
      }

      .hli2 {
        transition-delay: 0.05s;
      }

      .hci1 {
        transition-delay: 0.25s;
      }

      .hci2 {
        transition-delay: 0.3s;
      }

      &:hover {
        .hci1::before,
        .hci1::after,
        .hci2::before,
        .hci2::after {
          transition-duration: 1s;
        }

        .hli1::before,
        .hli1::after,
        .hli2::before,
        .hli2::after {
          transition-duration: 0s;
        }
      }
    }
  }
}
