@import "breakpoint";
@import "accessibility";

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  cursor: pointer;

  @include breakpoint-down(sm) {
    min-height: 250px;
  }

  @include noReducedMotion() {
    transition: all ease-in-out 220ms;
  }

  @include breakpoint-up(lg) {
    align-items: flex-end;
  }

  &:hover,
  &:focus {
    .backdrop {
      &::after {
        opacity: 0.1;
      }

      .img {
        transform: scale(1.05);
      }
    }

    .content {
      @include breakpoint-up(lg) {
        transform: translateY(-100px);
        opacity: 1;
      }
    }
  }
}

.backdrop {
  .img {
    will-change: transform;
  }

  &::after {
    opacity: 0.4;

    @include noReducedMotion() {
      transition: opacity var(--transition-fast);
    }
  }
}

.content {
  text-align: center;

  @include breakpoint-up(lg) {
    transform: translateY(-100px);
  }

  @include noReducedMotion() {
    transition: all 200ms ease-in-out;
  }

  h2 {
    font-weight: var(--font-bold);
    font-size: var(--text-xxl);
    font-family: var(--font-serif);
  }

  h3 {
    margin-top: var(--spacing-sm);
    font-size: var(--text-md);
  }
}
