@use '@fontsource/inter/scss/mixins' as Inter;
@include Inter.fontFaceVariable(
  $fontName: 'Inter',
  $fontDir: '@fontsource/inter/files',
  $type: 'full'
);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  @apply w-full h-full;
}

body {
  @apply overscroll-none antialiased bg-gradient-to-tl from-secondary-900 to-secondary-700 bg-fixed;
}

#app {
  grid-template-rows: auto 1fr auto;

  @apply grid overflow-x-hidden;
}
