@mixin border-left-right($size: 15px) {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: $size;
    height: $size;
    border-width: 1px;
    border-style: solid;
  }

  &::before {
    top: 0;
    left: 0;
    border-image: linear-gradient(125deg, var(--border-color-normal), transparent);
    border-image-slice: 10% 0 0 90%;
  }

  &::after {
    right: 0;
    bottom: 0;
    border-image: linear-gradient(125deg, transparent, var(--border-color-normal));
    border-image-slice: 0 90% 10% 0;
  }
}

@mixin border-right-left($size: 15px) {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: $size;
    height: $size;
    border-width: 1px;
    border-style: solid;
  }

  &::before {
    top: 0;
    right: 0;
    border-image: linear-gradient(215deg, var(--border-color-normal), transparent);
    border-image-slice: 90% 10% 0 0;
  }

  &::after {
    bottom: 0;
    left: 0;
    border-image: linear-gradient(215deg, transparent, var(--border-color-normal));
    border-image-slice: 0 0 90% 10%;
  }
}
