@mixin center($pos) {
  @if ($pos == "x") {
    left: 50%;
    transform: translateX(-50%);
  } @else if ($pos == "y") {
    top: 50%;
    transform: translateY(-50%);
  } @else if ($pos == "xy" or $pos == "yx") {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else {
    top: auto;
    left: auto;
    transform: none;
  }
}
